$color1: #161853;
$color2: #292c6d;
$color3: #faedf0;
$color4: #ec255a;
$font-family: "Montserrat", sans-serif;

.navbar-wrapper-web {
  z-index: 100;
  background-color: #ffffff;
  padding: 0 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px $color1;
  position: fixed;
  top: 0;
  width: 100vw;
  font-family: $font-family;
  font-weight: 400;
  .navbar-brand {
    display: flex;
    align-items: center;
    img {
      width: 15%;
    }
    span {
      font-size: 1.5rem;
      margin-left: 1rem;
      font-weight: 400;
    }
  }
}
.navbar-wrapper-mobile {
  display: none;
}
@media (max-width: 630px) {
  .navbar-wrapper-web {
    display: none;
  }
  .navbar-wrapper-mobile {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: 0 0 10px $color1;
    font-family: $font-family;
    .navbar-brand {
      display: flex;
      align-items: center;
      img {
        width: 20%;
        margin-left: 2rem;
      }
      span {
        font-size: 1rem;
        margin-left: 0.5rem;
        font-weight: 400;
      }
    }
  }
}
