$color1: #161853;
$color2: #292c6d;
$color3: #faedf0;
$color4: #ec255a;
$font-family: "Montserrat", sans-serif;

.testimonials {
  font-family: $font-family;
  margin: 7%;
  text-align: center;
  align-content: center;
  h1 {
    font-weight: 200;
    font-size: 2rem;
    margin: auto auto 1.5rem;
  }
  .border-div {
    border-top: 3px solid $color4;
    padding-bottom: 2rem;
    width: 5rem;
    text-align: center;
    margin: auto;
  }
  .testimonial__para {
    display: block;
    margin: 0 auto 2rem;
    width: 75%;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: gray;
    @media (max-width: 1024px) {
      margin: 0 auto 2rem;
      width: 100%;
    }
  }
  .testimonial-carousel {
    margin: auto 5% 5%;
    padding-bottom: 5%;
    .testimonial__content {
      position: relative;
      background-color: #f7f7f7;
      padding: 15% 7% 7%;
      margin: 20% 10% 6%;
      border-radius: 4px;
      img {
        position: absolute;
        top: -15%;
        left: 35%;
        border-radius: 100%;
      }
      p {
        margin-top: 5%;
        font-size: 0.7rem;
        font-style: italic;
        line-height: 2;
      }
    }
    &:hover {
      cursor: grab;
    }
    .testimonial__owner {
      h2 {
        margin-bottom: 1%;
        font-size: 1rem;
        font-weight: bolder;
        letter-spacing: 1.3px;
      }
      p {
        margin: 0;
        color: grey;
        font-size: 0.8rem;
      }
    }
  }
}
